<!-- templates/playlists_edit.html -->
{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/playlists/{{ playlist._id }}">
      <input type="hidden" name="_method" value="PUT" />

      {% include 'partials/playlists_form.html' %}

      <!-- BUTTON -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Playlist</button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="window.location.href='/playlists/{{ playlist._id }}'"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
